body {
    font-family: 'Alata', sans-serif;
}

nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1rem 2rem;

    #navbar-brand {
        a {
            letter-spacing: 0.1rem;

            span {
                color: #9C27B0;
            }
        }
    }

    #navbar-links {
        display: grid;
        grid-auto-flow: column;
        justify-items: flex-end;
        align-items: center;

        #mobile-btn {
            visibility: hidden;
        }

        ul {
            list-style-type: none;
            padding-inline-start: 0px;
            margin: 0px;

            li {
                display: inline-block;
                margin-left: 25px;

                a {
                    color: rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    transition: color 300ms ease;

                    &:hover {
                        color: #9C27B0;
                    }
                }
            }
        }

        #bottom_list {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        #navbar-brand{
            z-index: 999;
        }

        #navbar-links {
            #mobile-btn {
                visibility: visible;
                z-index: 999;

                button {
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }

            .hidden {
                display: none !important;
            }

            .shown {
                display: flex !important;
            }

            #list {
                position: fixed;
                width: 100vw;
                height: 100vh;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: black;
                top: 0;
                left: 0;
                z-index: 500;

                li {
                    display: list-item;
                    margin-left: 0px;
                    margin-top: 20px;
                    animation: slide-left 500ms ease-out;

                    @keyframes slide-left {
                        0% {
                            transform: translateX(300px)
                        }

                        70% {
                            transform: translateX(-20px)
                        }

                        100% {
                            transform: translateX(0px)
                        }
                    }

                    a {
                        color: white;
                        font-size: 25px;
                        transition: color 300ms ease;

                        &:hover {
                            color: #9C27B0;
                        }
                    }
                }
            }

            #bottom_list {
                position: fixed;
                bottom: 0;
                left: 0;
                background-color: black;
                width: 100vw;
                height: 100px;
                align-items: center;
                justify-content: center;
                padding-inline-start: 0px;
                margin: 0px;
                z-index: 500;

                li {
                    margin-left: 15px;
                    margin-right: 15px;
                    animation: slide-up 500ms ease-out;

                    @keyframes slide-up {
                        0% {
                            transform: translateY(100px)
                        }

                        70% {
                            transform: translateY(-10px)
                        }

                        100% {
                            transform: translateY(0px)
                        }
                    }

                    a {
                        svg {
                            path {
                                transition: fill 300ms ease;
                            }
                        }

                        &:hover>svg {
                            path {
                                fill: #9C27B0;
                            }
                        }
                    }
                }
            }
        }
    }
}